mediapipe
cvzone
Flask
opencv-contrib-python
numpy==1.23.5
requests
gunicorn
protobuf
sounddevice
matplotlib
scipy
absl-py 
attrs 
flatbuffers 
opencv-python  
opencv-python-headless
python-dotenv
Werkzeug

